@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --cor-fonte:#f5f5f5;
    --cor-primaria:#ab49cc;

}

*{
    padding: 0;
    margin: 0;
    background-color: #0a090c;
    font-family: 'Raleway', sans-serif;
    color: var(--cor-fonte);
    
}


section{
    margin: 0 7% 0 7%;
}



#header{
    margin: 0 2%;
    padding: 16px 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;

}

#header-logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

#header-logo img{
    width: 15%;
}

h1{
    font-weight: 700;
    font-size: 2vw;
}

#header nav{
    display: flex;
    gap:25px;  
}

#header a{
    text-decoration: none;
    font-weight: 500;
}

#header a:hover{
    color: var(--cor-primaria);
    transition: 0.05;
}


#home{
    margin-top: 5%;
    display: flex;
}

#home h2{
    font-size: 4vw;
}

#home p{
    margin: 5% 0 5% 0 ;
    font-size: 1.7vw;
}
#home img{
    width: 50%;
}

#home a{
    text-decoration: none;
    margin-right: 2%;
}

#home a:hover{
    color: var(--cor-primaria);
}


#sobre-mim h2{
    font-size: 2vw;
    margin: 10% 0 2% 0; 
}


#skills h2{
    font-size: 2vw;
    margin: 10% 0 2% 0; 
}

.skills-div{
    display: flex;
    justify-content: space-around;
}


.skills-div p{
    font-weight: 800;
}

#hobbies h2{
    font-size: 2vw;
    margin: 10% 0 2% 0; 
}

.hobbies-div{
    display: flex;
    justify-content: space-around;
}

.hobbies-div p{
    font-weight: 800;
}

#formacao h2{
    font-size: 2vw;
    margin: 10% 0 2% 0; 
}


.formacao{
    display: flex;
    align-items: center;
}


#formacao-div-upe{
    width: 80%;
    border-radius: 25px;
    margin-bottom: 30px;

}

.formacao-img{
    width: 100%;
}

.formacao-h3{
    font-size: 1.8vw;
}

#projetos h2{
    font-size: 2vw;
    margin: 10% 0 2% 0; 
}

#contato{
    display: flex;
    width: 100%;
    gap: 2%;
}

#contato-img{
    width: 50%;
}

#contato-contato p{
    margin: 2% 0 10% 0;
}


.form{
    display: flex;
    flex-direction: column;
    
}

.form label{
    font-weight: 800;
}

.form input{
    border: 1px solid var(--cor-primaria);
    border-radius: 10px;
    margin-bottom: 2%;
    line-height: 200%;

}

.form textarea{
    border: 1px solid var(--cor-primaria);
    border-radius: 10px;
}

.form-div{
    display: flex;
    flex-direction: column;
}

button {
    border-radius: 50px;
    background-color: #ab49cc;
    padding: 1% 5%;
    cursor: pointer;
    margin-top: 5%;
    
}

button:hover{
    background-color: var(--cor-fonte);
    color: var(--cor-primaria);
    transition: 0.05s;
}

footer{    
    display: flex;
    margin-top: 10%;
    background-color: var(--cor-primaria);
    color: var(--cor-fonte);
    justify-content: center;
    text-align: center;
    padding: 2% 0;
}